@model SchoolManagementSystem.Models.AdminViewModel

@{
    ViewBag.Title = "Classlist";
}

<style>
    #Admin_Account {
        background-image: url("../images/bookstable.jpeg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        padding: 10px;
    }
</style>

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">




            <h2 class="Column2">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Admin/index/" type="button" class="btn btn-primary btn-responsive"> Back</a>
            <p class="listText">List of Classes</p>

            <div class="table-responsive">
                <table class="table table-Simple">
                    <thead class="Column1">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listofclasses[0].ClassName)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofclasses[0].TeacherID)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofclasses[0].SectionID)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofclasses[0].SubjectID)</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listofclasses)
                        {
                        <tr>

                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.ClassName)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherID)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SectionID)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectID)
                            </td>

                            <td>
                                @Html.ActionLink("Delete", "DeleteClass", "Admin", new { id = item.ClassID }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditClass", "Admin", new { id = item.ClassID }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>