@model SchoolManagementSystem.Models.AdminViewModel

@{
    ViewBag.Title = "TeacherPayroll";
}

<style>
    #Admin_Account {
        background-image: url("../images/bookstable.jpeg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        padding: 10px;
    }
</style>

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">




            <h2 class="Column2">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Teacher/index/" type="button" class="btn btn-primary btn-responsive"> Back</a>
            <p class="listText">Teacher Payrolls</p>

            <div class="table-responsive">
                <table class="table table-Simple">
                    <thead class="Column1">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listofpayrolls[0].Teacher.FirstName)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofpayrolls[0].Designation)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofpayrolls[0].Pay)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listofpayrolls)
                        {
                            <tr>

                                <th scope="row">
                                    @Html.DisplayFor(modelItem => item.TeacherID)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Designation)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Pay)
                                </td>

                                
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>