@model SchoolManagementSystem.Models.AdminViewModel

@{
    ViewBag.Title = "Feechallanlist";
}

<style>
    #Admin_Account {
        background-image: url("../images/bookstable.jpeg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        padding: 10px;
    }
</style>

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">




            <h2 class="Column2">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Admin/Index2/" type="button" class="btn btn-primary btn-responsive"> Back</a>
            <p class="listText">List of Feechallans</p>

            <div class="table-responsive">
                <table class="table table-Simple">
                    <thead class="Column1">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listoffeechallans[0].ClassID)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listoffeechallans[0].IssueDate)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listoffeechallans[0].DueDate)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listoffeechallans[0].Fee)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listoffeechallans)
                        {
                        <tr>

                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.ClassID)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssueDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Fee)
                            </td>

                            <td>
                                @Html.ActionLink("Delete", "DeleteFeechallan", "Admin", new { id = item.Id }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditFeechallan", "Admin", new { id = item.Id }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
