@model SchoolManagementSystem.Models.AdminViewModel

@{
    ViewBag.Title = "Studentlist";
}

<style>
    #Admin_Account {
        background-image: url("../images/bookstable.jpeg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        padding: 10px;
    }
</style>
<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">

           
            <h2 class="Column2">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Admin/index/" type="button" class="btn btn-primary btn-responsive"> Back</a> 
            <p class="listText">List of Students</p>

            <div class="table-responsive">
                <table class="table table-Simple">
                    <thead class="Column1">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].StudentID)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofstudents[0].FirstName)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].LastName)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofstudents[0].Email)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].RegistrationNo)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].Gender)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].Address)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].Guardian)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].Password)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofstudents[0].Contact)</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listofstudents)
                        {
                        <tr>

                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.StudentID)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistrationNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Guardian)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contact)
                            </td>

                            <td>
                                @Html.ActionLink("Delete", "DeleteS", "Admin", new { id = item.StudentID }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditS", "Admin", new { id = item.StudentID }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <div>
                    <a href="~/Admin/ExportStudents/" type="button" class="btn btn-primary btn-responsive">Get Pdf</a>
                </div>
            </div>
        </div>

    </div>
</div>
